/*Load Tailwind v4*/
@import "tailwindcss";

@theme {
    --font-sans: "Sora", ui-sans-serif, system-ui, -apple-system;
    --color-bg: #0f172a;
    --color-card: rgba(255, 255, 255, 0.5);
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
}